// Featherlight lightbox
.featherlight {
    width: 100%;
    
    .featherlight-content {
        width: 80% !important;
        background: transparent !important;
        padding: 0 !important;
        border: 0 !important;
        margin: 0 !important;
        max-height: unset !important;
        overflow: visible !important;
    }
    .featherlight-close-icon {
        color: $white !important;
        top: -30px !important;
        line-height: 30px !important;
        width: 30px !important;
    }
}

// Section 1
#wwwTable {
    display: none;

    &.featherlight-inner {
        display: grid;

        table {
            color: $white;
            background: rgba(146, 0, 117, 0.5);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            margin: 2rem 0;
        }
        table, th, td {
            border: 1px solid $white !important;
            border-collapse: collapse;
            vertical-align: top;

            pre {
                margin: 2rem;
            }
        }
        th {
            background: $pink;
            padding: 0 4rem;
        }
    }
}

// Section 4
#warTimeline,
#warTimeline2,
#warTimeline3 {
    display: none;

    &.featherlight-inner {
        display: block;

        .accordion {

            .set {
                background: $darkPurp;
                border: 4px solid $cyanBright;
                border-bottom: 1px solid $cyanBright;

                &:last-of-type {
                    border-bottom: 4px solid $cyanBright;
                }

                a {
                    background: $purple;
                    font-family: "Press Start 2P", sans-serif;
                    font-size: clamp(18px,2vmin,22px);
                    color: $white;
                    cursor: pointer;

                    &.active {
                        background: $maroon;
                    }
                }

                .content {
                    height: auto;
                    position: relative;
                    color: $white;
                    background: linear-gradient(rgb(2,55,136,0.5) 0%, rgb(45,226,230,0.5) 100%);
                    box-shadow: $cyanBright 0px 0px 12px;
                    padding: 1.5rem 3rem 2rem;
                    margin: 0;
                    backdrop-filter: blur(20px);
                    -webkit-backdrop-filter: blur(20px);
                }
            }
        }
    }
}