// Old-school terminal
.os-terminal-wrapper {
  min-height: 100vh;
  background-color: $black;
  position: relative;
  z-index: 10;

  .os-terminal-content {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem;

    &.banner-hidden {
      grid-template-rows: 1fr;

      .static-intro {

        &.hidden {
          display: none;
        }
      }
    }
    &.zoom {
      animation: fromTheStars 1s ease-out forwards;
      animation-delay: 2.5s;
    }

    p, input, textarea {
      font-family: 'Courier New', monospace;
      font-size: 1em;
      color: $white;
    }

    // Animations
    @-webkit-keyframes fromTheStars {
      from { transform: scale(1); opacity: 1; }
      to { transform: scale(8); opacity: 0; }
    }
    @keyframes fromTheStars {
      from { transform: scale(1); opacity: 1; }
      to { transform: scale(8); opacity: 0; }
    }

    .dynamic-content {
      position: relative;
      display: grid;
      grid-template-rows: auto auto 1fr;
      height: 100%;

      .prompt-icon {
        position: absolute;
        top: 12px;
        left: 0;
        z-index: 1;
      }

      input {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: $black;
        color: $white;
        border: 0;
        padding-top: 0;
        outline: none;
        text-indent: 12px;
      }

      hr {
        width: 100%;
      }

      .output-container {

        textarea {
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          background-color: $black;
          color: $white;
          border: none;
          outline: none;
          // text-indent: 10px;
          resize: none;

          &.at-capacity {
            width: calc(100% - 500px);
          }
        }

        .flux-capacitor {
          position: absolute;
          top: 100px;
          right: 20px;
          width: 425px;
          font-family: 'Courier New', monospace;
          font-size: 1em;
          color: $white;

          &.hidden {
            display: none;
          }
  
          i {
            display: inline-block;
            transform: scale(-1,1);
          }

          .red-node {
            color: red;

            span {
              background-color: red;
            }
          }

          .glow {
            position: relative;
            border-radius: 40%;
            z-index: 1;
            -webkit-animation: glow 2s ease-in-out infinite alternate;
            -moz-animation: glow 2s ease-in-out infinite alternate;
            animation: glow 2s ease-in-out infinite alternate;
          }
          @-webkit-keyframes glow {
            from {
              background-color: rgba(255,255,255,0.2);
              box-shadow: 0 0 20px -20px $white;
            }
            to { 
              background-color: $white;
              box-shadow: 0 0 20px 20px rgba(255,255,255,0.8); }
          }
          @keyframes glow {
            from {
              background-color: rgba(255,255,255,0.2);
              box-shadow: 0 0 20px -20px $white;
            }
            to { 
              background-color: $white;
              box-shadow: 0 0 20px 20px rgba(255,255,255,0.8); }
          }
        }
      }
    }
  }

  #warpSpeed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    place-items: center;
    background-color: #000;
    overflow: hidden;
    z-index: 5;
    opacity: 0;
    border-radius: 50%;
    animation: toTheStars 2.5s ease-in forwards;
    animation-delay: .5s;

    &.drive {
      display: grid;
    }

    #rays, #center {
      left:50%;
      top:50%;
    }

    .rayFill {
      position:absolute;
      width:1px;
      height:0px;
      background:#fff;
    }

    #center {
      position: absolute;
      background: radial-gradient(ellipse, #000 20%, rgba(0, 0, 0, 0) 50%);
    }

    @-webkit-keyframes toTheStars {
      0% { transform: scale(0); opacity: 0; }
      70% { transform: scale(.2); opacity: .3; }
      100% { transform: scale(2); opacity: 1; }
    }
    @keyframes toTheStars {
      0% { transform: scale(0); opacity: 0; }
      70% { transform: scale(.2); opacity: .3; }
      100% { transform: scale(2); opacity: 1; }
    }
  }
}

// Priddy terminal
/** {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #555;
  background: url("https://cdn.dribbble.com/users/43762/screenshots/1438974/ng-colab-space_night.gif");
  background-size: cover;
  overflow: hidden;
}
.window {
  width: 450px;
  height: 250px;
  background-color: rgba(37, 37, 37, 0.85);
  border: 1px solid #c9c9c9;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
}
.window.window--maximized {
  width: 100%;
  flex-grow: 1;
}
.window.window--minimized {
  height: 25px;
  width: 180px;
}
.window.window--minimized .window-content {
  display: none;
}
.window.window--destroyed {
  opacity: 0;
  width: 0;
  height: 0;
}
.window-header {
  background-color: #eee;
  height: 25px;
}
.window-controls {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.window-controls .control-item {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #333;
  transition: all ease-in 0.15s;
  cursor: pointer;
}
.window-controls .control-item:hover {
  background-color: #ccc;
}
.control-item.control-close {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.control-item.control-close:hover {
  background-color: #ec6060;
  color: #fff;
}
.control-item.control-maximize {
  line-height: 19px;
}
.control-item.control-minimize {
  line-height: 22px;
}
.window-cursor {
  display: flex;
  margin: 5px;
}
.window-cursor .i-cursor-indicator {
  color: #fff;
  font-size: 1em;
  font-family: 'Consolas', monospace;
  margin: 0 2px 0 5px;
}
.window-cursor .i-cursor-underscore {
  width: 10px;
  height: 3px;
  background-color: #fff;
  align-self: flex-end;
  margin-right: 5px;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}
.window-input {
  background-color: inherit;
  border: none;
  outline: 0;
  color: transparent;
  text-shadow: 0 0 0 #fff;
  font-family: 'Consolas', monospace;
  flex: 1;
}
.window-input:focus {
  outline: none;
}
.i-prompt {
  width: 62px;
  height: 62px;
  background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/terminal-48.png") no-repeat center;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}
.i-prompt:hover {
  background-position: center 4px;
}
.i-prompt.hidden {
  width: 0;
  height: 0;
  opacity: 0;
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}*/