// Timeline
.divider {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 16px;
    position: relative;
    width: 100%;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
    margin-top: 0px;
    margin: 2rem 0;

    &__wrapper {
        display: flex;
        gap: 4px;
        height: 4px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 20%;
    }

    .line {
        background: rgb(229, 225, 230);
        height: 100%;

        &.short {
            width: 25%;
            height: inherit;
        }
        &.long {
            width: 75%;
            height: inherit;
        }
    }
    .short {
        align-self: flex-start;
        background: rgb(229, 225, 230);
        height: 1px;
        width: 50%;
    }
    .long {
        align-self: flex-end;
        background: rgb(229, 225, 230);
        height: 1px;
        width: 50%;
    }

    .angled-wrapper {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
        width: 16px;

        .angled {
            background: rgb(229, 225, 230);
            height: 1px;
            position: absolute;
            transform: rotate(-45deg);
            width: 22px;
        }
    }
}

article {
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/33/1d/34/331d344c012c1ff4307858f8c9f38706.gif);
    background-size: cover;
    position: relative;
    z-index: 3;

    h2 { font-size: clamp(16px,2.5vmin,26px); }

    .tint {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);

        .grain {
            width: 100%;
            height: 100%;
            background-image: url(https://hacktoberfest.com/_next/static/media/grain-dark.9d5983e6.png);
            background-size: cover;
        }
    }

    .intro {

        &__container {
            position: relative;
            padding: 5rem;
            z-index: 1;

            h1,h2,h3,h4,h5,h6,p,li,a,input {
                font-family: 'Press Start 2P';
                color: $white;
            }
        }

        &__card {
            width: 70%;
            min-width: 350px;
            height: auto;
            position: relative;
            background: linear-gradient(rgb(2,55,136,0.5) 0%, rgb(45,226,230,0.5) 100%);
            border: 4px solid $cyanBright;
            border-radius: 24px;
            box-shadow: $cyanBright 0px 0px 12px;
            padding: 40px 48px;
            margin: 5rem 3rem;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            z-index: 1;
            transition: all 0.4s cubic-bezier(0.8, -1, 0.2, 1.5) 0s;

            &:hover {
                box-shadow: $cyanBright 0px 0px 25px, $cyanBright 0px 0px 8px 2px;
                transform: translateY(-12px);
            }
        }

        &__button {
            display: flex;
            justify-content: center;;
        }
    }
}

.timeline-container {
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: 300;
    color: $white;

    // Navigation
    .nav {

        &__wrapper {
            position: fixed;
            top: 10vh;
            max-width: 25vw;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            z-index: 1;

            a {
                text-decoration: none;
            }
        }
        & {
            margin: 0 0 5rem 1rem; 
        }
        &__counter {
            font-family: "Press Start 2P", sans-serif;;
            font-size: 24px;
            transition: all 0.15s ease-out;
        }
        &__title {
            font-family: "Orbitron", sans-serif;
            font-size: 24px;
            margin: 0 0 0.25em;
            width: 300px;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: height 0.3s ease-out, opacity 0.2s ease-out;
        }
        &__body {
            font-family: "Ubuntu", sans-serif;
            font-weight: 100;
            font-size: 14px;
            font-size: 14px;
            width: 300px;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: height 0.3s ease-out, opacity 0.2s ease-out;
        }

        li {
            list-style: none;
            position: relative;
            transition: all 0.3s ease-out;
            margin-bottom: 1em;

            &:after {
                content: '';
                display: block;
                border-left: 2px solid $white;
                border-top: 2px solid $white;
                height: 250px;
                width: 20px;
                position: absolute;
                left: -30px;
                top: 15px;
            }

            a {
                display: block;
                padding: 0;
                color: $white;
                transition: all 0.15s ease-out;

                &:hover {
                    background-color: transparent;
                    padding-left: 1em
                }
                &:focus {
                    background-color: transparent;
                }
            }

            &.active {
                pointer-events: none;
                padding-left: 1em;

                &:after {
                    width: 35px;
                    height: 400px;
                    top: 35px;
                }

                .nav__counter {
                    font-size: 48px;
                }
                .nav__title {
                    height: 40px;
                    opacity: 1;
                    overflow: visible;
                }
                .nav__body {
                    height: 100px;
                    opacity: 1;
                    overflow: visible;
                }
            }
        }
    }

    // # of people online
    .hit-counter {
        position: fixed;
        top: 1.5rem;
        right: 0;
        text-align: right;
        padding: .25rem 1.5rem .75rem;
        background: linear-gradient(rgb(2,55,136,0.5) 0%, rgb(45,226,230,0.5) 100%);
        border: 4px solid $cyanBright;
        border-right: 0;
        border-radius: 10px 0 0 10px;
        box-shadow: $cyanBright 0px 0px 12px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        z-index: 2;
        transition: all 0.4s cubic-bezier(0.8, -1, 0.2, 1.5) 0s;

        &:hover {
            box-shadow: $cyanBright 0px 0px 25px, $cyanBright 0px 0px 8px 2px;
        }

        p {
            font-family: "Orbitron", sans-serif;
            font-size: .75rem;
            line-height: 1;
        }

        .counter {

            span {
                font-family: "Press Start 2P", sans-serif;
                font-size: .9rem;
                //display: inline-block;
                //padding: 6px 3px 4px;
                //border-radius: 3px;
                //background: rgba(255,255,255,0.5);
                //margin-right: 1px;
            }
        }

    }

    // Content
    section {
        position: relative;
        width: 100%;
        height: 100vh !important;
        font-size: 40px;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem 5rem 5rem 25vw;

        $colors: $ellipse1, $ellipse2, $ellipse3, $ellipse4, $ellipse5, $ellipse6, $ellipse7, $ellipse8;
        @for $i from 1 through length($colors) {
        &:nth-child(#{$i}) {

            &::before {
            position: absolute;
            top: 0px;
            left: 0px;
            content: "";
            width: 100%;
            height: 100vh;
            background: nth($colors, $i)/*linear-gradient(45deg, rgb(232, 0, 255) 0%, rgb(255, 32, 32) 100%)*/;
            opacity: 0.6;
            z-index: -2;
            mask-image: radial-gradient(70% 80% at 50% 50%, black -40%, transparent 60%);
            -webkit-mask-image: radial-gradient(70% 80% at 50% 50%, black -40%, transparent 60%);
            }
        }
        }

        .section-content {
            position: relative;
            z-index: 1;

            h2 { font-size: clamp(30px,2.5vmin,38px); }
            h3 { font-size: clamp(18px,2vmin,22px); }
            p, li { line-height: 1.5; }
            ul, ol { margin: 0; }
            .btn,input { font-size: clamp(8px,1vmin,14px); background: rgba(255,255,255,0.25); padding: 1rem 2.5rem; border-radius: 5px; }

            .browser-wars {
                position: relative;
                max-width: 450px;

                .slash {
                    position: absolute;
                    top: 30px;
                    left: -27px;
                    height: 10px;
                    width: 100%;
                    background: $red;
                    transform: rotate(-7deg) skew(-10deg);
                }

                svg {
                    max-width: 400px;
                }
            }
        }
    }
}